---
// eslint-disable
import '../tailwind.css'
import "@fontsource/cal-sans/400.css";
import "@fontsource/geist/400.css";
import "@fontsource/geist/600.css";
import "@fontsource/geist/800.css";
import { Toaster } from 'svelte-sonner';
import LandingNavbar from "../components/landing-navbar.astro";
import Footer from "../components/footer.astro";
const { title, description } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content="Grinta, productivity, privacy, agentic, computer interaction, web interaction, open source, AI, natural language processing, zero telemetry" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={`https://meshy.studio/api/og?template=cipher&darkMode=false&branding=Grinta&title=${title}&description=${description}`} />
    <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap-index.xml">
    <script is:inline defer src="https://umami.getgrinta.com/script.js" data-website-id="4cd27316-f769-454e-8ec1-46ddd469d336"></script>
    <script is:inline>
      // eslint-disable
      (function () {
        try {

          const stored = localStorage.getItem("starlight-theme");
          const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
          const theme = stored === "dark" || (!stored && prefersDark) ? "dark" : "light";
          document.documentElement.setAttribute("data-theme", theme);
        } catch (e) {}
      })();
    </script>
  </head>
  <body class="flex flex-col min-h-screen">
    <LandingNavbar />
    <div class="flex flex-col flex-1">
        <slot />
    </div>
    <Footer />
    <Toaster client:only />
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
